<% if ship_city.errors.any? %>
      <%= ship_city.errors.count %><p>prohibited this obj from being saved:</p>。
        <% ship_city.errors.full_messages.each do |error| %>
      <%= error %>
      <% end %>
<% end %>