// Place all the styles related to the customer::Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks-msg {
  margin-top: 100px;
}

// .table {
//   background-color: #FAEBD7;
// }

// .order-show-table {
//   background-color: #FAEBD7;
// }

// .confirm-td {
//   background-color: #FFA500;
// }

// .test {
//   display: flex;
// }

.thanks-image {
  background-image: url("../patissiere.jpg");
  width: 250px;
  height: 400px;
  background-size: cover;
  margin: 0 auto;
  background-position: center;

}