// Place all the styles related to the admin::genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index

.genre-head {
  margin: 50px;
}

.genre-form {
  display: flex;
  justify-content: space-between;
}


.genre-table {
  margin-top: 95px;
  background-color: #FAEBD7;
}

.genre-thead {
  background-color: #FFA500;
}