<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="container">
     <!--ロゴ -->
     <nav class="nav navbar-nav navbar-left" >
       <i class="fas fa-birthday-cake">Nagano Cake</i> <!--リンクにする?-->
     </nav>
    </div>

    <nav>
       <ul class="nav navbar-nav navbar-right">
         <%# if customer_signed_in? %>
          <!--カスタマーがログインしている時　-->
          <li class="welcome-name">
          ようこそ、<%#= first_name(current_customer) %>さん！
          </li>
          <li><%#= link_to "マイページ", customers_mypage_path %></li>
          <li><%#= link_to "商品一覧", products_path %></li>
          <li><%#= link_to "カート", cart_products_path %></li>
          <li><%= link_to "ログアウト", destoroy_customer_session_path, methhod: :delete %></li>
         <%# elsif admin_signed_in? %>
          <!--管理者がログインしている時 -->
         <li><%#= link_to "商品一覧", admin_products_path %></li>
           <li><%#= link_to "会員一覧", admin_customer_path %></li>
           <li><%#= link_to "注文履歴一覧", admin_order_path %></li>
           <li><%#= link_to "ジャンル一覧", admin_genre_path %></li>
           <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
         <% else %>
          <!--ログインしていない時　-->
           <li><%#= link_to "about", about_path %></li>
           <li><%#= link_to "商品一覧", products_path %> </li>
           <li><%#= link_to "新規登録", new_admin_registration_path %></li>
           <li><%#= link_to "ログイン", new_admin_session_path %></li>
         <% end %>
       </ul>
    </nav>
 </header>
